@media (max-width: 769px) {
  .mainBig {
   display: none !important;
  }
  .messageBig {
    display: none !important;
  }
 }

 .messageBig  {
  @apply mx-auto;
  inline-size: 70%;
}

 .messageBig p {
@apply text-white text-center text-2xl lg:text-4xl mb-0;
 }

.mainBig {
 @apply w-full container flex flex-wrap mx-auto m-0
}

#textBig{
  @apply md:ml-4 md:mt-4;
  inline-size: 40%;
}

#textBig p {
  @apply text-white text-2xl font-bold text-center;
  @apply sm:text-2xl;
  @apply lg:text-4xl;
  @apply xl:text-5xl xl:leading-tight;
  width: 100%;
}

.firstDivBig{
@apply container flex mx-auto px-8 mb-4
}

#squareBig{
  @apply bg-white px-8 pt-8 pb-2 z-10 w-2/5 mt-8 ml-6;
  box-shadow: inset 0px 10px 10px #0000004F, 0px 3px 6px #0000009C;
  border: 0.5px solid #707070;
  border-radius: 0px 46px;
  display:inline-block;
  block-size: fit-content;
  }

  #squareBig img {
  width: 100%;
  }

  #squareBig p {
    text-align: center;
    font-weight: 700;
    font-size: 200%;
    }
 
 #camposBig{
  @apply -mt-24 float-right;
  display: block;
  z-index: -1;
  width: 55%;
 }
 
 #camposBig img {
  width: 100%;
 }

 .messageBig2 {
  inline-size: 70%;
}

 .messageBig2 p {
@apply text-white text-center text-xl;
 }
 
 #iconesBig {
  @apply w-3/4 mx-8 my-4 h-60 lg:h-80 xl:h-auto;
  width: 30%;
 }
 
 #marcaBig {
  @apply w-1/5 mx-auto absolute;
top: 88%;
left: 75%;
 }